# ignore this stuff
node_modules
.c9revisions
.dropbox
.project
.settings.xml
/.settings
settings
!settings/mocha.json
!settings/settings.json
#public
/sandbox
.elasticbeanstalk/
sampledb/collection/**/reduction
sampledb/collection/**/view
