# ignore this stuff
strongloop.json
coverage
node_modules
.sonar
.c9revisions
.dropbox
.project
.settings.xml
/.settings
settings
!settings/mocha.json
!settings/settings.json
#public
/sandbox
.elasticbeanstalk/
sampledb/collection/**/reduction
sampledb/collection/**/view
sampledb/collection/cb43defb-f406-47c3-90aa-7c4195d519a7/documents/**
