-# © 2014 by Rheosoft. All rights reserved. 
-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'RTDB'
  - var myDate = new Date()
block append content
    h1(style="margin-left:10px") RTDB
      img(src="/RheoSoft_Logo.svg", width="110", alt="logo", style="margin-left:20px")
    p
      | Comments, questions? 
      a(href='mailto:info@rheosoft.com') info@rheosoft.com
    p
      | © 2014 by Rheosoft. All rights reserved.
    include:md ../README.md