-# © 2014 by Rheosoft. All rights reserved. 
-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'RTDB'
  - var myDate = new Date()
block append content
    include:md ../README.md