//-# © 2014 by Rheosoft. All rights reserved. 
//-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'Collection Stats'
block append content
 div.page-header
   h1 Stats 
     small #{' ' + cid }  
   p 
     a.btn(href='/web/') Home
     a.btn(href='/web/collections/' + cid + '/') Up
     a.btn(href='/db/collections/' + cid + '/stats/') Json
 +showJson(json,0,false)
