-# © 2014 by Rheosoft. All rights reserved. 
-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'RTDB'
block append content
  h1(style="margin-left:10px") RTDB
      img(src="/RheoSoft_Logo.svg", width="110", alt="logo", style="margin-left:20px")
  p.
    rtdb (#{json._pjson.version}) #{json.copyright}
  script.
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    //window.location = "/demo/mapples";
    window.location = "/demo/tweets";
    }
