doctype html
// © 2014 by Rheosoft. All rights reserved. 
// Licensed under the RTDB Software License version 1.0
html
  block vars
  head
    meta(charset='utf-8')
    
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    //script(src='/jquery/jquery-2.0.3.min.js')
    script.
      window.jQuery || document.write('<script src="/jquery/jquery-2.0.3.min.js"><\x3C/script>')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/bootbox/bootbox.js')
    
    include mixins/json
    block head
   
  body(style='margin-left:5px')
    block content
