-# © 2014 by Rheosoft. All rights reserved. 
-# Licensed under the RTDB Software License version 1.0
extends mlayout
block vars
  - var title = 'Apples'
  
block prepend head 
  meta(name='viewport',content='width=device-width')
     
block append head 
    link(rel='stylesheet', href='/stylesheets/layout.css', type='text/css', media='screen')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    // script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='https://www.google.com/jsapi')
    script(type='text/javascript').
      google.load("visualization", "1", {
      packages : [ "corechart", "table" ]
      });
      
      var doChart = 'pie';
      var doTotal = false;
      var c1;
      var views  = { Color: "6f57030d-ccad-41df-aa92-689292fa2c42"
                   }
      
      var source;
      
      function redraw() {
      reconnect($("#selBy").val());
      }
      
      google.setOnLoadCallback(registerStream);
      window.addEventListener('online',  function() {
      console.log('online called!');
      
      reconnect($("#selBy").val());
      });
     
      function getjson(view,callback) {
        $.getJSON("/db/collections/cb43defb-f406-47c3-90aa-7c4195d519a7/views/" + view +"/ticket",function(data)
          {
          console.log('view is ' + view + ' ticket is ' + data.ticket);
          ticket = {view: view, ticket : data.ticket};
          callback();
          });
        }
      function reconnect(view) {
      
      if (doChart === 'pie')
        c1 = new google.visualization.PieChart(document.getElementById('parcelchart_div'));
      else if (doChart === 'table')
        c1 = new google.visualization.Table(document.getElementById('parcelchart_div'));
      else 
        c1 = new google.visualization.ColumnChart(document.getElementById('parcelchart_div'));
        
       getjson(views[view],reconnect2);
        }
        
      function reconnect2() {
      
      var url = "/db/stream?" + "view=" + ticket.view + "&ticket=" + ticket.ticket;
      
      source = new EventSource(url);  
      source.addEventListener(ticket.view,
      function(event) {
      drawTable(JSON.parse(event.data), $("#selBy").val(),
        c1, 'Sales by ' + $("#selBy").val(),doTotal);
     
      source.addEventListener('open', function(e) {
      console.log('open called');
      console.dir(e);
      }, false);
      source.addEventListener('error', function(e) {
      console.log('error called');
      console.dir(e);
      }, false);
      }
      )}
      function registerStream() {
      
      reconnect($("#selBy").val());
      }
      function toUSD(number) {
      var number = number.toString(), dollars = number.split('.')[0], cents = (number
      .split('.')[1] || '')
      + '00';
      dollars = dollars.split('').reverse().join('').replace(/(\\d{3}(?!$))/g,
      '$1,').split('').reverse().join('');
      return '$' + dollars + '.' + cents.slice(0, 2);
      }
      function drawTable(myjson, columnheader, table, mytitle, doTotal) {
      if (!myjson || !myjson.length)
      return;
      var data = new google.visualization.DataTable();
      data.addColumn('string', columnheader);
      data.addColumn('number', 'Sales ($)');
      data.addColumn('number', 'Count');
      var mydata = [];
      var chartcolor = [];
     
      var valtotal = 0;
      var counttotal = 0;
      myjson.forEach(function(item)
      {
      mydata.push([item[0],Math.round(item[1].total * 100) / 100,item[1].count]);
      chartcolor.push(item[0]);
      valtotal = Math.round((valtotal + item[1].total) * 100) / 100;
      counttotal = counttotal + Math.round(item[1].count);
      });
      if (doTotal)
        mydata.push(['<b>Total</b>',valtotal,counttotal]);
      data.addRows(mydata);
      table.draw(data, {
      fontName : 'Verdana',
      backgroundColor : 'white',
      allowHtml : true,
      alternatingRowStyle : true,
       is3D: true,
      showRowNumber : false,
      legend : 'bottom',
      colors : chartcolor,
      chartArea : { top : '5%', height : '85%' } 
      });
      }
      
    script.
        jQuery(document).ready(

        function() {
        
          $('#choosepie').click( function (event) {
          doChart='pie';
          doTotal = false;
          console.log('pie clicked!');
          redraw();
          })
      
          $('#choosetable').click(function (event) {
          doChart='table';
          doTotal = true;
          console.log('table clicked!');
          redraw();
          })
          
          $('#choosebar').click(function (event) {
          doChart='bar';
          doTotal = false;
          console.log('table clicked!');
          redraw();
          })
        })
      
 
  block append content
    section#main.column(style='height:97%')
      article.module.width_3_quarter(style='width: 100%;margin: 0px;')
        header
          div
            #pick.input_prepend(style='float:left; margin-right: 8px;')
              select(id='selBy',onchange='redraw();',style='width:150px;')
                option Color
              .btn-group(data-toggle='buttons-radio',style='vertical-align: top;')
                label#choosepie.btn.active
                  i.fa.fa-tachometer
                label#choosebar.btn
                  i.fa.fa-bar-chart-o
                label#choosetable.btn
                  i.fa.fa-bars
            .dropdown.dropdown-btn(style='float:right;margin-right: 8px;margin-top: 8px;')
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-folder-open
              ul.dropdown-menu(style='left: -500%;')
                li
                  a(href='maccounts') Accounts
                li
                  a(href='mparcels') Parcels
                li
                  a(href='mapples') Apples
                li.divider  
                li
                  a(href='mparcelsws') WS Parcels 
                li.divider
                li
                  a(href='/index') Index
                li
                  a(href='/about/') About 
        .module_content(style='margin: 0px; height:100%; width:100%;')
          article#content.stats_graph(style='height:100%; width:100%;')
            #parcelchart(style='height:100%;')
              #parcelchart_div(style='display:block; height:90%; width:100%; margin-bottom: 5px;')
 