//-# © 2014 by Rheosoft. All rights reserved. 
//-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'Reduction'
block append content
 div.page-header
   h1 Reduction
     small #{' ' + rid }  
   p 
     a.btn(href='/web/') Home
     a.btn(href='/web/collections/' + cid + '/views/' + vid + '/') Up
     a.btn(href='/db/collections/' + cid + '/views/' + vid + '/reduction/') Json
 +showJson(json,0,false)
