//-# © 2014 by Rheosoft. All rights reserved. 
//-# Licensed under the RTDB Software License version 1.0
extends nav
block vars
  - var title = 'Stats'
block append content
 h1 Statistics
 p
  a.btn(href='/web/') Home 
 +showJson(json,0, false)
