extends ../nav
block vars
  - var title = 'Intro'
block append content
  script.speakerdeck-embed(async='async', data-id='51fb04e0309301310d83126c78e4c954', data-ratio='1.33333333333333', src='//speakerdeck.com/assets/embed.js')  
